services:
  client:
    image: tokyo-landprice-rag/client:latest
    container_name: tokyo-landprice-rag-client
    build:
      context: ./client
      dockerfile: Dockerfile
    volumes:
      - ./client/:/app/
      - /app/node_modules
    ports:
      - "5173:5173"
    env_file:
      - ./client/.env
    depends_on:
      - storage

  storage:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z-cpuv1
    container_name: tokyo-landprice-rag-storage
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - storage_data:/data
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    env_file:
      - .env
    command: server /data --console-address ":9001"

  mc:
    image: minio/mc:RELEASE.2025-08-13T08-35-41Z-cpuv1
    container_name: tokyo-landprice-rag-mc
    depends_on:
      - storage
    restart: "on-failure"
    entrypoint: >
      /bin/sh -c "
      sleep 10;
      mc alias set minio http://tokyo-landprice-rag-storage:9000 ${MINIO_ROOT_USER} ${MINIO_ROOT_PASSWORD};
      mc mb minio/${MINIO_BUCKET_NAME} || true;
      mc anonymous set public minio/${MINIO_BUCKET_NAME};
      exit 0;
      "

  localstack:
    container_name: "${LOCALSTACK_DOCKER_NAME:-localstack-main}"
    image: localstack/localstack
    ports:
      - "127.0.0.1:4566:4566" # LocalStack Gateway
      - "127.0.0.1:4510-4559:4510-4559" # external services port range
    environment:
      # LocalStack configuration: https://docs.localstack.cloud/references/configuration/
      - DEBUG=${DEBUG:-0}
      - SERVICES=secretsmanager
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-./server/volume}:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"

  qdrant:
    image: qdrant/qdrant:latest
    restart: always
    container_name: qdrant
    ports:
      - 6333:6333
      - 6334:6334
    expose:
      - 6333
      - 6334
      - 6335
    configs:
      - source: qdrant_config
        target: /qdrant/config/production.yaml
    volumes:
      - ./qdrant_data:/qdrant/storage

volumes:
  storage_data:
    driver: local

configs:
  qdrant_config:
    content: |
      log_level: INFO
